* {margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

header a {
    text-decoration: none;
    color: #333333;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding-top: 48px;
}

footer a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
}

ul.navi {
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.hero {
    width: 100%;
    height: 75svh;
    background-image: url('splash.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.hero h1 {
    --h1-spacing: clamp(
        -60px, 
        calc((100vw - 700px) * 0.1), 
        0px);

    margin-top: -6px;
    font-size: 8rem;
    letter-spacing: var(--h1-spacing);
    transform: translateX(calc(var(--h1-spacing) / 2));
    font-family: "Hiragino Kaku Gothic Std", "Arial Black", sans-serif;
    color: rgb(0, 0, 255);
    text-align: center;
    line-height: 1;
}

@media (min-width: 700px) {
    .hero h1 {
    --h1-spacing: clamp(
        0px, 
        calc((100vw - 700px) * 0.2), 
        140px);
    }
}

.ascii-art {
    display: flex;
    position: absolute;
    padding-left: clamp(1vw,10vw,20vw);
    margin-top: -35vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 9px;
}

#main-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main-block h2 {
    font-family: 'roboto';
    padding: 36px;
    font-size: 3vh;
}

#project-list {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vh;
}

.project-preview {
    aspect-ratio: 4 / 3;
    width: min(400px, 100%);
    background-color: #8080807d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.project-preview h4 {
    font-family: 'roboto';
    font-weight: normal;
    font-size: 16px;
}

.project-preview:hover {
    background-color: #8080803d;
}

.thumbnail {
    height: 250px;
}
